@for $right from 1 through 5 {
    .right-#{$right} {
        position: relative;
        right: $right * 1vw;
    }
}

@for $margin from 1 through 10 {
    .margin-left-#{$margin} {
        margin-left: $margin * 1vw;
    }
}

@mixin border {
    border: 1px solid $blanco;
    border-radius: 5px;
}

@mixin shadow {
    box-shadow: 4px 4px 5px $negro;
}

@mixin flex($direction, $justify, $aling, $gap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $aling;
    gap: $gap;
}