$fondo-footer: rgb(133, 133, 133);
$hover-link: rgb(48, 255, 186);
$hover-text: rgb(56, 13, 97);
$negro: rgb(0, 0, 0);
$blanco: rgb(255, 255, 255);
$fondo-card: rgb(94, 187, 156);
$fondo-hover: rgb(89, 242, 191);
$fondo-link: rgb(168, 167, 167);
$fondo-link-claro: rgb(221, 221, 221);