footer {
    background-color: $fondo-footer;
    /* background: linear-gradient(to bottom, aquamarine, rgb(133, 133, 133)); */
    display: flex;
    justify-content: end;
    align-items: center;

    a {
        position: relative;
        top: 5px;
        right: 5vw;

        &:hover {
            background-color: $hover-link;
        }
    }
}

.footer-contacto {
    background-color: $fondo-footer;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}