footer {
    background-color: $fondo-footer;
    @include flex(row, end, center, 0);

    a {
        position: relative;
        top: 5px;
        right: 5vw;

        &:hover {
            background-color: $hover-link;
        }
    }
}

.footer-contacto {
    background-color: $fondo-footer;
    padding: 1%;
    @include flex(row, center, center, 0);

    h5 {
        position: relative;
        left: 5vw;
    }
}