header {
    height: 7vh;
    background-color: rgb(103, 211, 175);

    .logo {
        width: 40px;
        border-radius: 5px;
        margin-left: 30px;
        transition-duration: .2s;
        @include shadow;

        &:hover {
            position: relative;
            animation-name: icono;
            animation-duration: .4s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
    }

    .navbar {
        background: linear-gradient(to bottom, rgb(103, 211, 175) 60%, white);
    }

    .navbar-nav {
        gap: 10px;
    }

    .navbar-toggler {
        @include shadow;
        border: 2px solid $negro;
        border-top: 1px solid rgb(233, 233, 233);
        border-left: 1px solid rgb(233, 233, 233);
        background-color: rgb(188, 188, 188);
    }

    .actual {
        font-family: "Playfair Display", serif;
        letter-spacing: 2px;
        font-size: 1.2em;
        color: $negro;
        text-decoration: none;
        transition-duration: .3s;
        @include border;
        border-bottom: 1px solid $negro;
        border-right: 1px solid $negro;
        padding: 3px;
        position: relative;
        bottom: 3px;
        box-shadow: 4px 4px 10px $negro;
    }

    .link-hover {
        font-family: "Playfair Display", serif;
        letter-spacing: 2px;
        font-size: 1.2em;
        color: $negro;
        text-decoration: none;
        transition-duration: .3s;
        border-radius: 5px;
        padding: 3px;

        &:hover {
            color: $negro;
            background-color: $hover-link;
            transition-duration: .5s;
        }
    }

    #logo-pata {
        background-color: transparent;
    }

    .position {
        position: absolute;
        right: 1vw;
    }
}

nav div button:focus {
    border: 2px solid $negro;
}

@keyframes icono {
    10% {
        bottom: .5px;
        left: .2px;
    }

    20% {
        bottom: 1px;
        left: .5px;
    }

    30% {
        bottom: 1.3px;
        left: .9px;
    }

    40% {
        bottom: 1.5px;
        left: 1.3px;
    }

    50% {
        bottom: 1.6px;
        left: 1.6px;
    }

    60% {
        bottom: 1.5px;
        left: 1.9px;
    }

    70% {
        bottom: 1.3px;
        left: 2.3px;
    }

    80% {
        bottom: 1px;
        left: 2.7px;
    }

    90% {
        bottom: .5px;
        left: 3px;
    }

    100% {
        bottom: 0;
        left: 3px;
    }
}