.titulo {
    font-family: "Playfair Display", serif;
    text-align: center;
    padding: 1%;
    width: 500px;
    margin-bottom: 3%;

    h1 {
        font-family: "Playfair Display", serif;
        font-size: 4em;
        text-decoration: underline;
        margin-bottom: 5%;
        letter-spacing: 6px;
    }
}

.titulo-index {
    text-align: center;
    padding: 1%;
    width: 500px;
    margin-bottom: 3%;

    h1 {
        font-family: "Playfair Display", serif;
        font-size: 4em;
        text-decoration: underline;
        margin-bottom: 5%;
        letter-spacing: 6px;
    }
}