.pagina-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;

    .pagina {
        display: flex;
        flex-direction: column;
        background-color: rgb(94, 187, 156);
        align-items: center;
        height: 170px;
        width: 400px;
        @include border;
        padding: 15px;
        margin-bottom: 10px;
        transition-duration: .3s;

        a {
            font-family: "Playfair Display", serif;
            font-size: 2em;
        }

        p {
            text-align: center;
            border-top: 1px solid $negro;
            padding-top: 7px;
        }

        &:hover {
            background-color: rgb(55, 222, 166);
            box-shadow: 0 0 10px $negro;
            height: 200px;
            transition-duration: .5s;

            a {
                font-size: 3em;
            }
        }
    }
}