@media only screen and (max-width:420px) {
    .pagina {
        width: 300px;
    }

    .redes-container {
        height: fit-content;

        .redes {
            flex-direction: column;
            align-items: center;
            gap: 40px;
        }
    }

    .imagenes {
        div {
            img {
                width: 90vw;
            }
        }
    }

    .footer-contacto {
        text-align: center;

        h5 {
            font-size: .8em;
        }
    }
}

@media only screen and (max-width: 500px) {
    body {
        width: 100vw;
    }

    .consejos .consejos-video div {
        width: 95%;
    }

    .consejos-video iframe {
        width: 90vw;
        height: 20vh;
    }
}

@media only screen and (max-width: 575px) {
    main {
        overflow: auto;
    }

    .titulo {
        width: 95%;

        h1 {
            font-size: 2.5em;
        }
    }

    .titulo-index {
        width: 95%;
    }

    .pagina-container {
        gap: 20px;

        .pagina {
            height: 200px;
            width: 90vw;
            overflow: auto;
        }
    }

    header {
        height: fit-content;
        flex-direction: column;
        align-items: flex-start;
    }

    .position {
        background: linear-gradient(to bottom, rgb(103, 211, 175), white);
        position: absolute;
        top: 70px;
        left: 2vw;
    }

    .logo {
        margin-top: 10px;
        margin-left: 10px;
    }

    .consejos {
        width: 100vw;
    }

    .consejos .consejos-texto {
        width: 100%;
    }

    .consejos .consejos-texto div {
        width: 98%;
        align-items: flex-start;
        flex-wrap: wrap;
        overflow: auto;

        h3 {
            width: 90%;
            display: flex;
            flex-wrap: wrap;
        }
    }

    .yo {
        flex-direction: column;
        gap: 15px;

        img {
            width: 70vw;
        }

        p {
            width: 90vw;
            text-align: center;
        }
    }

    .redes-container {
        width: 70vw;
        overflow: auto;

        &:hover {
            width: 75vw;

            img {
                scale: 1.5;
            }
        }
    }

    .telefono {
        width: 55vw;

        &:hover {
            width: 60vw;

                img {
                    scale: 1.5;
                }
        }
    }
}

@media only screen and (max-width: 650px) {
    .consejos .consejos-texto {
        width: 90%;
        padding: 0;
    }

    .consejos-texto div p {
        display: flex;
        flex-wrap: wrap;
        width: 90vw;
        height: auto;
    }

    .consejos .consejos-video {
        width: 90%;
        padding: 0;
    }
}

@media only screen and (max-width: 1000px) {
    .consejos .consejos-texto {
        width: 80%;
    }

    .consejos .consejos-video {
        width: 80%;
    }
}