.veterinarias {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(94, 187, 156);
        height: 100px;
        overflow: hidden;
        margin: 20px;
        @include border;
        padding: 5px;
        gap: 10px;
        transition-duration: .2s;

        &:hover {
            background-color: rgb(83, 216, 172);
            box-shadow: 0px 0px 10px $negro;
            padding: 10px;
            height: 320px;
            transition-duration: .5s;

            h3 {
                color: $hover-text;
            }
        }
    }
}