* {
    padding: 0;
    margin: 0;
    font-family: "Roboto Slab", serif;
}

body {
    background: linear-gradient(to bottom, rgb(255, 255, 255)10%,aquamarine 25%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    font-family: "Playfair Display", serif;
    text-align: center;
    padding: 1%;
    width: 500px;
    margin-bottom: 3%;
}

@media (max-width: 575px) {
    .titulo {
        width: 95%;
    }
}

.titulo-index {
    text-align: center;
    padding: 1%;
    width: 500px;
    margin-bottom: 3%;
}

@media (max-width: 575px) {
    .titulo-index {
        width: 95%;
    }
}

.titulo-index h1 {
    font-family: "Playfair Display", serif;
    font-size: 4em;
    text-decoration: underline;
    margin-bottom: 5%;
    letter-spacing: 6px;
}

.paginas {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

@media (max-width:575px) {
    .paginas {
        gap: 20px;
    }
}

.pagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
    transition-duration: .3s;
}

@media (max-width:420px) {
    .pagina {
        width: 300px;
    }
}

.pagina:hover {
    background-color: rgb(94, 187, 156);
    transition-duration: .5s;
}

.pagina a {
    font-family: "Playfair Display", serif;
    font-size: 2em;
}

.pagina p {
    text-align: center;
}

header {
    height: 7vh;
    display: flex;
    align-items: center;
    background-color: rgb(103, 211, 175);
}

@media (max-width:576px) {
    header {
        height: fit-content;
        flex-direction: column;
        align-items: flex-start;
    }
}

footer {
    background: linear-gradient(to bottom, aquamarine, rgb(133, 133, 133));
    padding: 1%;
    display: flex;
    justify-content: end;
}

.footer-contacto {
    background-color: rgb(133, 133, 133);
    padding: 1%;
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
}

a {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 1.2em;
    color: black;
    text-decoration: none;
    transition-duration: .3s;
    border-radius: 5px;
    padding: 5px;
}

a:hover {
    color: blueviolet;
    transition-duration: .5s;
}

div a img {
    transition-duration: .3s;
}

div a img:hover {
    scale: 1.1;
    transition-duration: .5s;
}

.links-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
}

@media (max-width: 576px) {
    .links {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }
}

.links a:hover {
    background-color: rgb(133, 255, 214);
}

footer a:hover {
    background-color: rgb(133, 255, 214);
}

.imagen-container {
    flex-grow: 1;
}

.logo {
    width: 40px;
    border-radius: 5px;
    margin-left: 30px;
}

@media (max-width: 576px) {
    .logo {
        margin-top: 10px;
    }
}

.imagenes {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.imagenes div {
    border: 1px solid black;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    margin: 20px;
}

.imagenes div img {
    width: 350px;
    border-radius: 5px;
}

.veterinarias {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.veterinarias div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(94, 187, 156);
    margin: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    gap: 10px;
}

iframe {
    border: none;
    border-radius: 5px;
}

.consejos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.consejos div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 380px;
    height: fit-content;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

.consejos div h3 {
    text-align: center;
}

.consejos div p {
    width: 300px;
}

.yo {
    display: flex;
    align-items: center;
    gap: 10%;
}

@media (max-width: 576px) {
    .yo {
        flex-direction: column;
    }

    .yo p {
        width: 350px;
    }
}

.yo img {
    width: 350px;
    border-radius: 5px;
}

.redes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(94, 187, 156);
    width: 40%;
    margin: 30px;
    padding: 20px;
}

@media (max-width: 576px) {
    .redes-container {
        width: 300px;
    }
}

.redes {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.telefono {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(94, 187, 156);
    width: 20%;
    margin: 30px;
    padding: 20px;
}

@media (max-width: 576px) {
    .telefono {
        width: 250px;
    }
}