.right-1 {
  position: relative;
  right: 1vw;
}

.right-2 {
  position: relative;
  right: 2vw;
}

.right-3 {
  position: relative;
  right: 3vw;
}

.right-4 {
  position: relative;
  right: 4vw;
}

.right-5 {
  position: relative;
  right: 5vw;
}

.margin-left-1 {
  margin-left: 1vw;
}

.margin-left-2 {
  margin-left: 2vw;
}

.margin-left-3 {
  margin-left: 3vw;
}

.margin-left-4 {
  margin-left: 4vw;
}

.margin-left-5 {
  margin-left: 5vw;
}

.margin-left-6 {
  margin-left: 6vw;
}

.margin-left-7 {
  margin-left: 7vw;
}

.margin-left-8 {
  margin-left: 8vw;
}

.margin-left-9 {
  margin-left: 9vw;
}

.margin-left-10 {
  margin-left: 10vw;
}

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: "Roboto Slab", serif;
}

body {
  background: linear-gradient(to bottom, rgb(255, 255, 255) 10%, aquamarine 25% 90%, rgb(133, 133, 133));
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  font-family: "Playfair Display", serif;
  letter-spacing: 2px;
  font-size: 1.2em;
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition-duration: 0.3s;
  border-radius: 5px;
  padding: 5px;
}
a:hover {
  color: blueviolet;
  transition-duration: 0.5s;
}

iframe {
  border: none;
  border-radius: 5px;
}

header {
  height: 7vh;
  background-color: rgb(103, 211, 175);
}
header .logo {
  width: 40px;
  border-radius: 5px;
  margin-left: 30px;
  transition-duration: 0.2s;
}
header .logo:hover {
  position: relative;
  animation-name: icono;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
header .navbar {
  background: linear-gradient(to bottom, rgb(103, 211, 175) 60%, white);
}
header .navbar-nav {
  gap: 10px;
}
header .actual {
  font-family: "Playfair Display", serif;
  letter-spacing: 2px;
  font-size: 1.2em;
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition-duration: 0.3s;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  padding: 3px;
  position: relative;
  bottom: 3px;
  box-shadow: 4px 4px 10px rgb(0, 0, 0);
}
header .link-hover {
  font-family: "Playfair Display", serif;
  letter-spacing: 2px;
  font-size: 1.2em;
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition-duration: 0.3s;
  border-radius: 5px;
  padding: 3px;
}
header .link-hover:hover {
  color: blueviolet;
  background-color: aquamarine;
  transition-duration: 0.5s;
}
header .position {
  position: absolute;
  right: 1vw;
}

nav div button:focus {
  border: 2px solid rgb(0, 0, 0);
}

@keyframes icono {
  10% {
    bottom: 0.5px;
    left: 0.2px;
  }
  20% {
    bottom: 1px;
    left: 0.5px;
  }
  30% {
    bottom: 1.3px;
    left: 0.9px;
  }
  40% {
    bottom: 1.5px;
    left: 1.3px;
  }
  50% {
    bottom: 1.6px;
    left: 1.6px;
  }
  60% {
    bottom: 1.5px;
    left: 1.9px;
  }
  70% {
    bottom: 1.3px;
    left: 2.3px;
  }
  80% {
    bottom: 1px;
    left: 2.7px;
  }
  90% {
    bottom: 0.5px;
    left: 3px;
  }
  100% {
    bottom: 0;
    left: 3px;
  }
}
footer {
  background-color: rgb(133, 133, 133);
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 0;
}
footer a {
  position: relative;
  top: 5px;
  right: 5vw;
}
footer a:hover {
  background-color: aquamarine;
}

.footer-contacto {
  background-color: rgb(133, 133, 133);
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.footer-contacto h5 {
  position: relative;
  left: 5vw;
}

.titulo {
  font-family: "Playfair Display", serif;
  text-align: center;
  padding: 1%;
  width: 500px;
  margin-bottom: 3%;
}
.titulo h1 {
  font-family: "Playfair Display", serif;
  color: rgb(0, 0, 0);
  font-size: 4em;
  text-decoration: underline;
  margin-top: 20px;
  margin-bottom: 5%;
  letter-spacing: 6px;
}

.titulo-index {
  text-align: center;
  padding: 1%;
  width: 500px;
  margin-bottom: 3%;
}
.titulo-index h1 {
  font-family: "Playfair Display", serif;
  color: rgb(0, 0, 0);
  font-size: 4em;
  text-decoration: underline;
  margin-top: 20px;
  margin-bottom: 5%;
  letter-spacing: 6px;
}

.pagina-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  gap: 20px;
  flex-wrap: wrap;
}
.pagina-container .pagina {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 0;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  background-color: rgb(94, 187, 156);
  height: 170px;
  width: 400px;
  padding: 15px;
  margin-bottom: 10px;
  transition-duration: 0.3s;
}
.pagina-container .pagina a {
  font-family: "Playfair Display", serif;
  font-size: 2em;
}
.pagina-container .pagina p {
  text-align: center;
  border-top: 1px solid rgb(0, 0, 0);
  padding-top: 7px;
}
.pagina-container .pagina:hover {
  background-color: rgb(55, 222, 166);
  box-shadow: 0 0 10px rgb(0, 0, 0);
  height: 200px;
  transition-duration: 0.5s;
}
.pagina-container .pagina:hover a {
  font-size: 3em;
}

.imagenes {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 0;
  flex-wrap: wrap;
}
.imagenes div {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
  background-color: rgb(94, 187, 156);
  margin: 20px;
  overflow: hidden;
  transition-duration: 0.2s;
}
.imagenes div img {
  width: 350px;
  border-radius: 5px;
  transition-duration: 0.2s;
}
.imagenes div img:hover {
  transform: scale(1.05);
  transition-duration: 0.5s;
}

.veterinarias {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 0;
  flex-wrap: wrap;
}
.veterinarias div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  background-color: rgb(94, 187, 156);
  height: 100px;
  overflow: hidden;
  margin: 20px;
  padding: 5px;
  transition-duration: 0.2s;
}
.veterinarias div:hover {
  background-color: rgb(83, 216, 172);
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
  padding: 10px;
  height: 320px;
  transition-duration: 0.5s;
}
.veterinarias div:hover h3 {
  color: blueviolet;
}

.consejos {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
  width: 90%;
  flex-wrap: wrap;
}
.consejos .consejos-texto {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  gap: 0;
  flex-wrap: wrap;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  background-color: rgb(103, 211, 175);
  width: 100%;
  padding: 50px;
  transition-duration: 0.3s;
}
.consejos .consejos-texto div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 30px;
  width: 380px;
  height: fit-content;
  background-color: rgb(94, 187, 156);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px;
  transition-duration: 0.3s;
  margin-bottom: 20px;
}
.consejos .consejos-texto div:hover {
  background-color: rgb(53, 236, 175);
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
  transition-duration: 0.5s;
}
.consejos .consejos-texto div:hover h3 {
  color: blueviolet;
}
.consejos .consejos-texto h3 {
  text-align: center;
}
.consejos .consejos-texto p {
  width: 300px;
}
.consejos .consejos-texto:hover {
  background-color: rgb(83, 216, 172);
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
  transition-duration: 0.5s;
}
.consejos .consejos-video {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  gap: 0;
  flex-wrap: wrap;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  background-color: rgb(103, 211, 175);
  width: 100%;
  padding: 50px;
  margin: 20px;
}
.consejos .consejos-video div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 30px;
  width: 380px;
  height: fit-content;
  background-color: rgb(94, 187, 156);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px;
  transition-duration: 0.3s;
  margin-bottom: 20px;
  overflow: auto;
}
.consejos .consejos-video div iframe {
  width: 350px;
  height: 250px;
}
.consejos .consejos-video div:hover {
  background-color: rgb(53, 236, 175);
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
  transition-duration: 0.5s;
}
.consejos .consejos-video div:hover h3 {
  color: blueviolet;
}
.consejos .consejos-video h3 {
  text-align: center;
}
.consejos .consejos-video p {
  width: 300px;
}
.consejos .consejos-video:hover {
  background-color: rgb(83, 216, 172);
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
  transition-duration: 0.5s;
}

.yo {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 100px;
  padding: 10px;
}
.yo img {
  background-color: rgb(94, 187, 156);
  width: 350px;
  border-radius: 5px;
  transition-duration: 0.5s;
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
}
.yo img:hover {
  transition-duration: 0.5s;
  box-shadow: 2px 2px 20px rgb(0, 0, 0);
}

.redes-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 30px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  background-color: rgb(94, 187, 156);
  width: 300px;
  height: 150px;
  margin: 30px;
  padding: 20px;
  transition-duration: 0.2s;
}
.redes-container .redes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  gap: 0;
  width: 100%;
}
.redes-container .redes a img {
  transition-duration: 0.3s;
}
.redes-container .redes a img:hover {
  scale: 1.5;
  transition-duration: 0.5s;
}
.redes-container:hover {
  background-color: rgb(74, 248, 190);
  transition-duration: 0.5s;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  width: 330px;
}

.telefono {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 30px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  background-color: rgb(94, 187, 156);
  width: 250px;
  height: 150px;
  margin: 30px;
  padding: 20px;
  transition-duration: 0.2s;
}
.telefono a img {
  transition-duration: 0.3s;
}
.telefono a img:hover {
  scale: 1.5;
  transition-duration: 0.5s;
}
.telefono:hover {
  background-color: rgb(74, 248, 190);
  transition-duration: 0.5s;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  width: 280px;
}

.tiendas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  gap: 0;
  width: 95vw;
  flex-wrap: wrap;
}
.tiendas .tienda {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 0;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  height: 260px;
  width: 320px;
  background-color: rgb(94, 187, 156);
  padding: 5px;
  margin: 10px;
  text-align: center;
  transition-duration: 0.3s;
}
.tiendas .tienda h3 {
  text-decoration: underline;
}
.tiendas .tienda .texto-tienda {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  width: 90%;
  height: 0;
  padding: 0 10px;
  margin: 10px;
  overflow: hidden;
  transition-duration: 0.3s;
}
.tiendas .tienda .texto-tienda h4 {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  margin-top: 10px;
}
.tiendas .tienda .texto-tienda h5 {
  margin-top: 15px;
  text-decoration: underline;
  color: blueviolet;
}
.tiendas .tienda .texto-tienda img {
  width: 98%;
  border-radius: 5px;
  margin: 5px;
}
.tiendas .tienda iframe {
  width: 300px;
  height: 150px;
}
.tiendas .tienda:hover {
  background-color: rgb(46, 226, 166);
  box-shadow: 0 0 10px rgb(0, 0, 0);
  height: 500px;
  transition-duration: 0.5s;
}
.tiendas .tienda:hover .texto-tienda {
  height: 300px;
  overflow-y: auto;
}

@media only screen and (max-width: 420px) {
  .pagina {
    width: 300px;
  }
  .redes-container {
    height: fit-content;
  }
  .redes-container .redes {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .imagenes div img {
    width: 90vw;
  }
  .footer-contacto {
    text-align: center;
  }
  .footer-contacto h5 {
    font-size: 0.8em;
  }
}
@media only screen and (max-width: 500px) {
  body {
    width: 100vw;
  }
  .consejos .consejos-video div {
    width: 95%;
  }
  .consejos-video iframe {
    width: 90vw;
    height: 20vh;
  }
}
@media only screen and (max-width: 575px) {
  main {
    overflow: auto;
  }
  .titulo {
    width: 95%;
  }
  .titulo h1 {
    font-size: 2.5em;
  }
  .titulo-index {
    width: 95%;
  }
  .pagina-container {
    gap: 20px;
  }
  .pagina-container .pagina {
    height: 200px;
    width: 90vw;
    overflow: auto;
  }
  header {
    height: fit-content;
    flex-direction: column;
    align-items: flex-start;
  }
  .position {
    background: linear-gradient(to bottom, rgb(103, 211, 175), white);
    position: absolute;
    top: 70px;
    left: 2vw;
  }
  .logo {
    margin-top: 10px;
    margin-left: 10px;
  }
  .consejos {
    width: 100vw;
  }
  .consejos .consejos-texto {
    width: 100%;
  }
  .consejos .consejos-texto div {
    width: 98%;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow: auto;
  }
  .consejos .consejos-texto div h3 {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
  }
  .yo {
    flex-direction: column;
    gap: 15px;
  }
  .yo img {
    width: 70vw;
  }
  .yo p {
    width: 90vw;
    text-align: center;
  }
  .redes-container {
    width: 70vw;
    overflow: auto;
  }
  .redes-container:hover {
    width: 75vw;
  }
  .redes-container:hover img {
    scale: 1.5;
  }
  .telefono {
    width: 55vw;
  }
  .telefono:hover {
    width: 60vw;
  }
  .telefono:hover img {
    scale: 1.5;
  }
}
@media only screen and (max-width: 650px) {
  .consejos .consejos-texto {
    width: 90%;
    padding: 0;
  }
  .consejos-texto div p {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    height: auto;
  }
  .consejos .consejos-video {
    width: 90%;
    padding: 0;
  }
}
@media only screen and (max-width: 1000px) {
  .consejos .consejos-texto {
    width: 80%;
  }
  .consejos .consejos-video {
    width: 80%;
  }
}

/*# sourceMappingURL=style.css.map */
