* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: "Roboto Slab", serif;
}

body {
  background: linear-gradient(to bottom, rgb(255, 255, 255) 10%, aquamarine 25% 90%, rgb(133, 133, 133));
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  font-family: "Playfair Display", serif;
  letter-spacing: 2px;
  font-size: 1.2em;
  color: black;
  text-decoration: none;
  transition-duration: 0.3s;
  border-radius: 5px;
  padding: 5px;
}
a:hover {
  color: blueviolet;
  transition-duration: 0.5s;
}

iframe {
  border: none;
  border-radius: 5px;
}

header {
  height: 7vh;
  /* display: flex; */
  align-items: center;
  background-color: rgb(103, 211, 175);
}

.logo {
  width: 40px;
  border-radius: 5px;
  margin-left: 30px;
}

.navbar {
  background: linear-gradient(to bottom, rgb(103, 211, 175) 60%, white);
}

.navbar-nav {
  gap: 10px;
}

.link-hover {
  font-family: "Playfair Display", serif;
  letter-spacing: 2px;
  font-size: 1.2em;
  color: black;
  text-decoration: none;
  transition-duration: 0.3s;
  border-radius: 5px;
  padding: 3px;
}
.link-hover:hover {
  color: blueviolet;
  background-color: aquamarine;
  transition-duration: 0.5s;
}

.actual {
  font-family: "Playfair Display", serif;
  letter-spacing: 2px;
  font-size: 1.2em;
  color: black;
  text-decoration: none;
  transition-duration: 0.3s;
  border-radius: 5px;
  padding: 3px;
  position: relative;
  bottom: 3px;
  box-shadow: 0 6px 10px 3px rgb(133, 133, 133);
}

/* imagen del logo */
nav div a img {
  transition-duration: 0.2s;
}
nav div a img:hover {
  scale: 1.1;
  transition-duration: 0.5s;
}

/* fin imagen del logo */
nav div button:focus {
  border: 2px solid black;
}

footer {
  background-color: rgb(133, 133, 133);
  /* background: linear-gradient(to bottom, aquamarine, rgb(133, 133, 133)); */
  display: flex;
  justify-content: end;
  align-items: center;
}
footer a {
  position: relative;
  top: 5px;
  right: 5vw;
}
footer a:hover {
  background-color: rgb(133, 255, 214);
}

.footer-contacto {
  background-color: rgb(133, 133, 133);
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo {
  font-family: "Playfair Display", serif;
  text-align: center;
  padding: 1%;
  width: 500px;
  margin-bottom: 3%;
}
.titulo h1 {
  font-family: "Playfair Display", serif;
  font-size: 4em;
  text-decoration: underline;
  margin-bottom: 5%;
  letter-spacing: 6px;
}

.titulo-index {
  text-align: center;
  padding: 1%;
  width: 500px;
  margin-bottom: 3%;
}
.titulo-index h1 {
  font-family: "Playfair Display", serif;
  font-size: 4em;
  text-decoration: underline;
  margin-bottom: 5%;
  letter-spacing: 6px;
}

.pagina-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}
.pagina-container .pagina {
  display: flex;
  flex-direction: column;
  background-color: rgb(94, 187, 156);
  align-items: center;
  width: 400px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  transition-duration: 0.3s;
}
.pagina-container .pagina a {
  font-family: "Playfair Display", serif;
  font-size: 2em;
}
.pagina-container .pagina p {
  text-align: center;
}
.pagina-container .pagina:hover {
  background-color: rgb(55, 222, 166);
  transition-duration: 0.5s;
  box-shadow: 0 0 10px black;
}

.imagenes {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.imagenes div {
  border: 1px solid black;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
  background-color: rgb(94, 187, 156);
  margin: 20px;
  transition-duration: 0.2s;
}
.imagenes div img {
  width: 350px;
  border-radius: 5px;
  transition-duration: 0.2s;
}
.imagenes div img:hover {
  scale: 1.03;
  transition-duration: 0.5s;
}
.imagenes div:hover {
  padding: 5px;
  border: 2px solid black;
  box-shadow: 0 0 10px black;
  transition-duration: 0.5s;
}

.veterinarias {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.veterinarias div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(94, 187, 156);
  margin: 20px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  gap: 10px;
  transition-duration: 0.2s;
}
.veterinarias div:hover {
  background-color: rgb(83, 216, 172);
  box-shadow: 0px 0px 10px black;
  transition-duration: 0.5s;
  padding: 10px;
}

.consejos {
  display: flex;
  width: 95%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.consejos .consejos-texto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 5px;
  background-color: rgb(103, 211, 175);
  width: 100%;
  padding: 50px;
  margin: 20px;
  transition-duration: 0.3s;
}
.consejos .consejos-texto div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 380px;
  height: fit-content;
  background-color: rgb(94, 187, 156);
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  transition-duration: 0.3s;
  margin-bottom: 20px;
}
.consejos .consejos-texto div:hover {
  background-color: rgb(53, 236, 175);
  box-shadow: 0px 0px 10px black;
  transition-duration: 0.5s;
}
.consejos .consejos-texto h3 {
  text-align: center;
}
.consejos .consejos-texto p {
  width: 300px;
}
.consejos .consejos-texto:hover {
  background-color: rgb(83, 216, 172);
  box-shadow: 0px 0px 10px black;
  transition-duration: 0.5s;
}
.consejos .consejos-video {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 5px;
  background-color: rgb(103, 211, 175);
  width: 100%;
  padding: 50px;
  margin: 20px;
}
.consejos .consejos-video iframe {
  width: 350px;
  height: 250px;
}
.consejos .consejos-video div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 380px;
  height: fit-content;
  background-color: rgb(94, 187, 156);
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  transition-duration: 0.3s;
  margin-bottom: 20px;
}
.consejos .consejos-video div:hover {
  background-color: rgb(53, 236, 175);
  box-shadow: 0px 0px 10px black;
  transition-duration: 0.5s;
}
.consejos .consejos-video h3 {
  text-align: center;
}
.consejos .consejos-video p {
  width: 300px;
}
.consejos .consejos-video:hover {
  background-color: rgb(83, 216, 172);
  box-shadow: 0px 0px 10px black;
  transition-duration: 0.5s;
}

.yo {
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 10px;
}
.yo img {
  background-color: rgb(94, 187, 156);
  width: 350px;
  border-radius: 5px;
  transition-duration: 0.5s;
  box-shadow: 2px 2px 5px black;
}
.yo img:hover {
  transition-duration: 0.5s;
  box-shadow: 2px 2px 20px black;
}

.redes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(94, 187, 156);
  width: 300px;
  height: 150px;
  margin: 30px;
  padding: 20px;
  transition-duration: 0.2s;
}
.redes-container .redes {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.redes-container .redes a img {
  transition-duration: 0.3s;
}
.redes-container .redes a img:hover {
  scale: 1.5;
  transition-duration: 0.5s;
}
.redes-container:hover {
  background-color: rgb(74, 248, 190);
  transition-duration: 0.5s;
  box-shadow: 0 0 10px black;
  width: 330px;
}

.telefono {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(94, 187, 156);
  width: 250px;
  height: 150px;
  margin: 30px;
  padding: 20px;
  transition-duration: 0.2s;
}
.telefono a img {
  transition-duration: 0.3s;
}
.telefono a img:hover {
  scale: 1.5;
  transition-duration: 0.5s;
}
.telefono:hover {
  background-color: rgb(74, 248, 190);
  transition-duration: 0.5s;
  box-shadow: 0 0 10px black;
  width: 280px;
}

@media only screen and (max-width: 420px) {
  .pagina {
    width: 300px;
  }
}
@media only screen and (max-width: 500px) {
  body {
    width: 100vw;
  }
}
@media only screen and (max-width: 500px) {
  .consejos .consejos-texto div {
    width: 95%;
    overflow: auto;
  }
  .consejos .consejos-video div {
    width: 95%;
  }
}
@media only screen and (max-width: 500px) {
  .consejos-video iframe {
    width: 90%;
    height: 20vh;
  }
}
@media only screen and (max-width: 575px) {
  main {
    overflow: auto;
  }
  .titulo {
    width: 95%;
  }
  .titulo h1 {
    font-size: 2.5em;
  }
}
@media only screen and (max-width: 575px) {
  .titulo-index {
    width: 95%;
  }
}
@media only screen and (max-width: 575px) {
  .pagina-container {
    gap: 20px;
  }
}
@media only screen and (max-width: 576px) {
  header {
    height: fit-content;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media only screen and (min-width: 576px) {
  .position {
    position: absolute;
    right: 2vw;
  }
}
@media only screen and (max-width: 576px) {
  .logo {
    margin-top: 10px;
    margin-left: 10px;
  }
}
@media only screen and (max-width: 576px) {
  .yo {
    flex-direction: column;
    gap: 15px;
  }
  .yo p {
    width: 350px;
    text-align: center;
  }
}
@media only screen and (max-width: 650px) {
  .consejos .consejos-texto {
    width: 90%;
    padding: 0;
  }
  .consejos-texto div p {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    height: auto;
  }
  .consejos .consejos-video {
    width: 90%;
    padding: 0;
  }
}
@media only screen and (max-width: 1000px) {
  .consejos .consejos-texto {
    width: 80%;
  }
  .consejos .consejos-video {
    width: 80%;
  }
}

/*# sourceMappingURL=style.css.map */
